{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-dark alert-dismissible fade show active" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<form method="POST">
  {{ form.hidden_tag() }}

  <!-- Título da Tarefa -->
  <div class="form-group">
    <label for="task" class="form-label">
      {% if form.task.data %}
        Edit Task
      {% else %}
        New Task
      {% endif %}
    </label>
    {{ form.task(class="form-control") }}
  </div>

  <!-- Descrição da Tarefa -->
  <div class="form-group">
    <label for="description" class="form-label">
      {% if form.description.data %}
        Edit the description
      {% else %}
        Describe the task
      {% endif %}
    </label>
    {{ form.description(class="form-control") }}
  </div>

  <br/>
  <button type="submit" class="btn btn-dark">
    {% if form.task.data %}
      Save changes
    {% else %}
      Add Task
    {% endif %}
  </button>
  
</form>

<br/><br/><br/>

{% include 'table.html' %}

{% endblock %}
